<h1>Dados do Funcionario</h1>
<form class="std-form" #f="ngForm" (ngSubmit)="salva(f)">

    <mat-form-field>
        <mat-label>Nome do Funcionario</mat-label>
        <input matInput type="string" placeholder="Informe o nome do funcionario" [(ngModel)]="funcionario.nome"
            name="nome" required>
    </mat-form-field>

    <mat-form-field>
        <mat-label>CPF</mat-label>
        <input matInput type="string" [(ngModel)]="funcionario.cpf" name="cpf" required mask="000.000.000-00"
            [dropSpecialCharacters]="false">
    </mat-form-field>

    <mat-form-field>
        <mat-label>RG</mat-label>
        <input matInput type="string" [(ngModel)]="funcionario.rg" name="rg" required mask="00.000.000-0"
            [dropSpecialCharacters]="false">
    </mat-form-field>

    <mat-form-field>
        <mat-label>Data de nascimento</mat-label>
        <input matInput [matDatepicker]="dataNascimento" name="data_nascimento"
            [(ngModel)]="funcionario.data_nascimento" placeholder="Informe a data de nascimento" required>
        <mat-datepicker-toggle matSuffix [for]="dataNascimento"></mat-datepicker-toggle>
        <mat-datepicker #dataNascimento></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Telefone</mat-label>
        <input matInput type="string" [(ngModel)]="funcionario.telefone" name="telefone" required>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput type="string" [(ngModel)]="funcionario.email" name="email" required>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Cargo</mat-label>
        <input matInput type="string" placeholder="Informe o cargo do funcionario" [(ngModel)]="funcionario.cargo"
            name="cargo" required>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Salário</mat-label>
        <input matInput type="number" placeholder="Informe o salario do funcionario" type="number"
            [(ngModel)]="funcionario.salario" name="salario" required>
    </mat-form-field>

    <mat-toolbar class="form-buttons">
        <mat-toolbar-row>
            <button mat-raised-button type="submit" color="accent">
                Salvar
            </button>
            <button mat-raised-button type="button" (click)="voltar(f)">
                Voltar
            </button>
        </mat-toolbar-row>
    </mat-toolbar>
</form>