<mat-sidenav-container>
    <mat-sidenav class="sidenav" mode="side" opened fixedInViewport="true" fixedTopGap="130" fixedBottomGap="40">
        <mat-nav-list class="nav-list">
            <a mat-list-item routerLink="/pedido">
                <i class="material-icons">
                    add_shopping_cart
                </i>
                Pedidos
            </a>
            <a mat-list-item routerLink="/cliente">
                <i class="material-icons">
                    person
                </i>    
                Clientes
            </a>
            <a mat-list-item routerLink="/endereco">
                <i class="material-icons">
                    location_on
                </i>
                Endereços
            </a>
            <a mat-list-item routerLink="/maquina-lavar">
                <i class="material-icons">
                    local_laundry_service
                </i>
                Maquinas de Lavar
            </a>
            <a mat-list-item routerLink="/prancha-passar">
                <i class="material-icons">
                 local_laundry_service
                </i>
                Pranchas de Passar
            </a>
            <a mat-list-item routerLink="/secadora">
                <i class="material-icons">
                local_laundry_service  
                </i>
                Secadoras
            </a>
            
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>