/* You can add global styles to this file, and also import other style files */
@import "~material-design-icons/iconfont/material-icons.css";
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500&display=swap');

html,
body {
    height: 100%;  
}

#content {
    margin: 40px;
}
.mat-table {
    width: 100%;
    font-family: 'Poppins', sans-serif !important;
}
.cell-align-right {
    text-align: right;
}
.cell-align-center {
    text-align: center !important;
}

//Desaparecer com os botões editar e excluir
.mat-row .mat-raised-button{
    visibility: hidden;    
}

//Reexibe os botões na linha sob o cursor do mouse
.mat-row:hover .mat-raised-button {
    visibility: visible;
}

.mat-menu-item:hover{
    filter: brightness(110%);
    background-color: rgb(0, 163, 212);
}
//Destaca a linha sob o mouse
.mat-row:hover{
    filter: brightness(110%);
    background-color: rgb(4,156,193,1);
    box-shadow:
    3px 3px #6f7172;
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
}

.mat-raised-button:hover{
    filter: brightness(110%);
    background-color: rgb(0, 163, 212);
    
}
.new-item{
    background: rgb(9,90,121);
    background: linear-gradient(90deg, rgba(9,90,121,1) 0%, rgba(4,156,193,1) 48%, rgba(0,212,255,1) 100%);
    padding-left: 1 !important;
    padding-right: 0 !important;
    //justify-content: flex-end;
}
.mat-drawer{
    //height: 297px;
    background: rgb(9,90,121);
    background: linear-gradient(0deg, rgba(9,90,121,1) 0%, rgba(4,156,193,1) 48%, rgba(0,212,255,1) 100%);
    margin-top: 9px;
}


.mat-list-item-content:hover{
    background-color: rgb(214, 236, 241);
    box-shadow:
    2px 2px #6f7172;
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
  
}
.std-form{
    max-width: 80%;
    margin: 0 auto;

    mat-form-field{
        min-width: 150px;
        max-width: 500px;
        width: 100%;
        margin-right: 30px;
        font-family: 'Poppins', sans-serif
    }
}
.form-buttons{
    background: transparent;
    mat-toolbar-row{
        display: flex;
        justify-content: space-around;
    }
}


#wave{
    background-image: url(../assets/wave.png);
    height: 139px;
}

#cor-gradiente{
    background: rgb(9,90,121);
    background: linear-gradient(90deg, rgba(9,90,121,1) 0%, rgba(4,156,193,1) 48%, rgba(0,212,255,1) 100%);
}
#cor-footer{
    color: black;
}
#cor-footer2{
    color: rgb(2, 66, 95) ;
}

a{
    //border-top: 1px solid rgb(117, 117, 117);
    //border-radius: 10px;
    font-size: 115%;
    font-family: 'Poppins', sans-serif !important;
}
h1{
    padding-left: 15px;
    padding-top: 15px;
    font-family: 'Poppins', sans-serif !important;
}

.material-icons{
    margin-right: 2px;
}

#logo{
    background-image: url(/lavanderiatg/frontend/src/assets/logo.png);
}